.hamburguer {
  @apply transition-all duration-300 ease-in-out;
  filter: drop-shadow(1px 2px 2px var(--color-text));

  rect {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform-origin: center;
  }

  &.isOpen {
    rect:nth-child(1) {
      transform: translateY(17px) translateX(-21px) rotate(45deg);
    }

    rect:nth-child(2) {
      opacity: 0;
    }

    rect:nth-child(3) {
      transform: translateY(-17px) translateX(-18px) rotate(-45deg);
    }
  }
}
.mobileMenu {
  transform: translateX(-100%);
  transition: transform 0.6s var(--springy-bezier) 0.1s;
  @apply lg:translate-x-0; // Always visible on large screens
  will-change: transform;
  padding-top: 5rem !important;
}

.isOpen {
  transform: translateX(0);
  transition: transform 0.5s var(--springy-bezier);
}
.mobileMenu {
  transform: translateX(-100%);
  transition: transform 0.6s var(--springy-bezier) 0.1s;
  will-change: transform;
  padding-top: 5rem !important;
  @apply lg:translate-x-0; // Always visible on large screens

  &.isOpen {
    transform: translateX(0);
    transition: transform 0.5s var(--springy-bezier);
  }
}

@media (max-width: 1024px) {
  .sidebar {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 50;
    background-color: var(--background);
    border-right: none;
    padding: 1rem;
    padding-top: 5rem;
  }

  .mobileMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 120vw;
    z-index: 20;
    padding-left: 24vw;

    &.isOpen {
      transform: translateX(-20vw);
    }
  }
}
